<br><br>
<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:4200/">Home</a></li>
    <li class="breadcrumb-item"><a href="http://localhost:4200/sitios">Sitios</a></li>
    <li class="breadcrumb-item active" aria-current="page">parámetro sitio</li>
  </ol>
</nav>
<h1>{{data.title}}</h1>
<br>

    <div class="row pt3">
        <div class="col-7"><img src="pilar_desde_arriba.jpg" alt="imagen de la Basílica del Pilar desde arriba" id="imagen-intro">
</div>
        <div class="col-1"></div>        
        <div id="horario"class="col-4">
            <h2>Horario</h2>
            <p id="horarioP">{{data.horario}}</p></div>
        
    </div>
<br>
<br><br>
    <h2>Descripción</h2>
    <div class="row pt3"></div>
        <div class="col-1"></div>
        <div class="col-5"><p>{{data.description}}</p>
    </div>




</div>
<!--
<p>{{data.title}}</p>
<p>{{data.description}}</p>
<p>{{data.address}}</p>
<p>{{data.horario}}</p>
<p>{{data.phone}}</p>
<p>{{data.price}}</p>
<p>{{data.uri}}</p>
-->