<br><br>
<div class="container">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="http://localhost:4200/">Home</a></li>
    <li class="breadcrumb-item"><a href="http://localhost:4200/sitios">Sitios</a></li>
    <li class="breadcrumb-item active" aria-current="page">parámetro sitio</li>
  </ol>
</nav>
<h1>{{data.title}}</h1>


    <div class="row pt-4">
        <div class="col-7"><img src="pilar_desde_arriba.jpg" alt="imagen de la Basílica del Pilar desde arriba" id="imagen-intro">
</div>
        <div class="col-1"></div>        
        <div id="horario"class="col-4">
            <h2>Horario</h2>
            <p id="horarioP">{{data.horario}}</p></div>
        
    </div>

    
    <div class="row pt-5">
        
        <div id="descripcion" class="col-6">
            <h2>Descripción</h2>
            <br>
            <p>{{data.description}}</p> 
        </div>
        <div class="col-1"></div>

        <div id="access" class="col-4">
            <h2>Accesibilidad</h2>
            <br>
            <div class="iconos_sitio">
                <img src="icono_silla.svg">
                <p>Texto de base de datos</p>
            </div>
             <div class="iconos_sitio">
                <img src="icono_silla.svg">
                <p>Texto de base de datos</p>
            </div>
             <div class="iconos_sitio">
                <img src="icono_silla.svg">
                <p>Texto de base de datos</p>
            </div>
              <div class="iconos_sitio">
                <img src="icono_silla.svg">
                <p>Texto de base de datos</p>
            </div>
              <div class="iconos_sitio">
                <img src="icono_silla.svg">
                <p>Texto de base de datos</p>
            </div>
              <div class="iconos_sitio">
                <img src="icono_silla.svg">
                <p>Texto de base de datos</p>
            </div>
            
            

        </div>
        </div>
       
    <div  class="row pt-3">
        <div class="col-6"> 
            <div *ngIf="data?.phone" id="contacto"> <!-- Este ngIF es para que no se muestre un titulo de contacto vacío si no hay tlf por parte de la api-->
            <h2> Contacto </h2>
            <p>{{data.phone}}</p>
            </div>
            <br>
            <h2> Dirección </h2>
            <p>{{data.address}}</p>
            <br>
            <h2> Precio </h2>
            <p>{{data.price}}</p>
            <br>
            <h2> Enlaces de interés </h2>
            <a href="{{data.uri}}"><p> {{data.uri}} </p></a>
        </div>
    </div>
    




</div>
<!--
<p>{{data.title}}</p>
<p>{{data.description}}</p>
<p>{{data.address}}</p>
<p>{{data.horario}}</p>
<p>{{data.phone}}</p>
<p>{{data.price}}</p>
<p>{{data.uri}}</p>
-->