
#imagen-intro{
  border-radius: 25px;
}

#horario{
  flex-direction: column;  
  background-color: rgb(216, 240, 252);
  height: fit-content;
 
}

#horarioP{
  font-size:larger;
  text-align: justify;
}

#descripcion{
  font-size: large;
}

.words{
  font-size: 1.01rem;
}


#access{    
  background-color: rgba(26, 73, 202, 0.795);
  height: fit-content;
  text-align: center;
  color: white;
}

.deleteBoxSizing{
  box-sizing: content-box !important;
}

@media (max-width: 768px) {
  .title-pag{
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  #horario,
  #access,
  #contacto,
  .direccion,
  .precio,
  .local,
  #textPrice {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* o 100% si lo prefieres más ancho */
  }

  #boton-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }
  #descripcion{
    width: 80%;
    margin-left: 2.5rem;
  }

  /* Asegura que la imagen no se desborde y esté centrada */
  #imagen-intro {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
  } 

  /* Iconos de accesibilidad: alinear al centro */
  .iconos_sitio, #access {
    justify-content: center;
    text-align: center;
  }

  #horario, #access, #boton-info{
    margin-top: 7%;
  }
  
  #text-description{
    margin-top: 5%;
  }

  #text-description, #textPrice{
    font-size: large;
    text-align: justify;
  }
}