.title-pag{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

#imagen-intro{
   max-width: 85%;
   border-radius: 25px;
}
#horario{
    display: flex;
    flex-direction: column;  
    background-color: rgb(216, 240, 252);
    height: fit-content;
    padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
   
}

#horarioP{
    font-size:larger;
    text-align: justify;
}

#descripcion{
    font-size: large;
}

#access{    
    display: block;
    background-color: rgb(186, 251, 186);
    height: fit-content;
    padding: 20px;
    text-align: center;
}

#imageDetail{
    
    border-radius: 25px;
}


.iconos_sitio {
  display:inline-flex;
  align-items: center;
  gap: 0.5rem;          /* Espacio entre imagen y texto */
  margin-bottom: 0.5rem; /* Espacio entre filas */

}

.iconos_sitio p {
  margin: 0; /* Elimina márgenes por defecto del párrafo */
}

#mapa{
    max-width: 100%;
}

@media (max-width: 768px) {
    .title-pag{
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        text-align: center;
    }

  #horario,
  #descripcion,
  #access,
  #contacto,
  .direccion,
  .precio,
  .local,
  #textPrice {
    margin-left: auto;
    margin-right: auto;
    width: 80%; /* o 100% si lo prefieres más ancho */
  }

  #boton-info{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45%;
  }

  /* Asegura que la imagen no se desborde y esté centrada */
  #imagen-intro {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 90%;
  }

  /* Ajustar padding general si es necesario */
  .container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  /* Evita que flex haga columnas en una línea */
  .row {
    flex-direction: column;
    align-items: center;
  }

  /* Iconos de accesibilidad: alinear al centro */
  .iconos_sitio, #access {
    justify-content: center;
    text-align: center;
  }

  #horario, #access, #boton-info{
    margin-top: 7%;
  }
  #text-description{
    margin-top: 5%;
  }

  #text-description, #textPrice{
    font-size: large;
    text-align: justify;
  }

}