
<section class="page_404 py-5 bg-white">
  <div class="container text-center">
    <div class="row justify-content-center">
      <div class="col-lg-8">
         <div>
            <h1 class="display-1 fw-bold text-dark">404</h1>
          <h2 class="h3 mb-3">Looks like you're lost</h2>
          <p class="mb-4">The page you are looking for is not available!</p>
          <div class="four_zero_four_bg d-flex flex-column justify-content-start align-items-center"style="background-image: url('https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif'); height: 500px; background-position: center;"></div>
        </div>
      </div>
    </div>
  </div>
</section>
