<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top flex-column p-0">
  
  <!-- Weather -->
  <div class="w-100 ">
    <app-weather></app-weather>
  </div>

  <!--  navbar -->
 <div class="container-fluid bg-white shadow-sm" id="menu">
  <div class="container-fluid d-flex justify-content-between align-items-center flex-wrap py-2 px-2 w-100">
    <!-- Logo -->
    <a class="navbar-brand me-0 " href="/">
      <img src="turistecz_logo.png" alt="Logo" class="logo-glow" height="50">
    </a>
<!-- Login + hamburguesa en móviles  -->
<div class="d-flex align-items-center gap-0 mt-lg-0 loginContainer d-lg-none">

  <!-- Login para móviles -->
  <div *ngIf="!logueado; else logueadoTemplateMobile">
    <a href="/login" class="login-icon-only" title="Iniciar sesión">
      <i class="bi bi-person-fill"></i>
    </a>
  </div>
  <!-- Template logueado para móviles -->
  <ng-template #logueadoTemplateMobile>
    <div class="user-info">
      <a href="/mi-perfil" class="d-flex align-items-center gap-2 text-decoration-none">
        <div class="user-avatar">{{ usuarioNombre[0] }}</div>
      </a>
      <button class="btn btn-outline-danger btn-sm btn-logout" (click)="onLogout()" title="Cerrar sesión">
        <i class="bi bi-box-arrow-right"></i>
      </button>
    </div>
  </ng-template>

  <!-- Botón hamburguesa  -->
  <button class="navbar-toggler ms-2 btn-mobile" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>

<!-- Menú centrado horizontal -->
<div class="collapse navbar-collapse justify-content-center fw-bold pt-2" id="navbarNav">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link active p-0" href="sitios">Sitios</a></li>
    <li class="nav-item"><a class="nav-link active p-0" href="rutas">Rutas</a></li>
    <li class="nav-item"><a class="nav-link active p-0" href="eventos">Eventos</a></li>
    <li class="nav-item"><a class="nav-link active p-0" href="alojamientos">Alojamientos</a></li>
    <li class="nav-item"><a class="nav-link active p-0" href="restaurantes">Restaurantes</a></li>
  </ul>
</div>

<!-- Login para pantallas grandes  -->
<div class="d-flex align-items-center gap-0 ms-auto mt-2 mt-lg-0 justify-content-end loginContainer d-none d-lg-flex">
  <div *ngIf="!logueado; else logueadoTemplateDesktop">
    <a href="/login" class="login-icon-only" title="Iniciar sesión">
      <i class="bi bi-person-fill"></i>
    </a>
  </div>
</div>

<!-- Template logueado para escritorio -->
<ng-template #logueadoTemplateDesktop>
  <div class="user-info">
    <a href="/mi-perfil" class="d-flex align-items-center gap-2 text-decoration-none">
      <div class="user-avatar">{{ usuarioNombre[0] }}</div>
    </a>
    <button class="btn btn-outline-danger btn-sm btn-logout" (click)="onLogout()" title="Cerrar sesión">
      <i class="bi bi-box-arrow-right"></i>
    </button>
  </div>
</ng-template>
     </div> 
  </div> 
</nav>