#menu {
  font-family: 'Inclusive', sans-serif;
}

.navbar-brand img {
  max-width: 40vw;
  height: auto;
}

.navbar-nav {
  gap: 6rem;
}

.loginContainer {
  width: 200px;
}

@media (max-width: 1400px) {
  .loginContainer {
   width: auto;
  }
}

@media (max-width: 992px) {
  .navbar-nav {
    gap: 1rem;
  }
}




