<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

<footer class="bg-white border-top pt-2">
    <div class="row align-items-center text-center justify-content-between mx-5">

      <!-- Logos -->
      <div class="logosFooter d-flex flex-wrap justify-content-center align-items-center gap-2 mb-2 ">
        <img src="logosFooter/cofinanciadoUnionEuropea.png" alt="Entidad 1" class="img-fluid">
        <img src="logosFooter/ministerioTrabajo.jpg" alt="Entidad 2" class="img-fluid">
        <img src="logosFooter/fondosEuropeos.png" alt="Entidad 3" class="img-fluid">
        <img src="logosFooter/logoTecnara.png" alt="Entidad 4" class="img-fluid"> 
        <img src="logosFooter/Logo_gobierno_de_Aragon.jpg" alt="Entidad 5" class="img-fluid">
      </div>

      <!-- Texto financiacion -->

        <div class="logoInaem justify-content-center align-items-center text-center">
          <img src="logosFooter/Logo_Inaem.jpg" alt="Entidad 6"><br>
          <p class="textFooter mx-3 px-1 mt-3 ">Proyecto financiado por el Programa organizado por el Instituto Aragonés de Empleo y financiado en un 60% por fondos propios 
            del Gobierno de Aragón y en un 40% por el Fondo Social Europeo Plus. <br> Programa Fondo Social Europeo Plus Aragón 2021-2027. Construyendo Europa desde Aragón.</p>
        </div>
      

      <!-- Enlaces -->
      <div class="textFooter col-md-4 d-flex flex-wrap text-center gap-2">
        <a href="terms" class="text-decoration-none">Términos</a>
        <span class="text-muted d-none d-md-inline">|</span>
          <a href="mailto:turistezc@gmail.com" class="text-decoration-none">Contacto</a>
        <span class="text-muted d-none d-md-inline">|</span>
          <a href="private-policy" class="text-decoration-none">Política de privacidad</a>
      </div>

      <div class="textFooter col-md-4 text-center justify-content-md-end mb-md-0">
        <p class="mb-0">&copy; 2025 Turistecz. Todos los derechos reservados.</p>
    </div>

      <!-- Redes sociales -->
      <div class="textFooter col-md-4 text-center text-md-end justify-content-center mb-md-0">
        <ul class="list-inline mb-0 d-flex justify-content-center justify-content-md-end mt-2 gap-3">
          <li class="list-inline-item"><a href="#" class="text-dark fs-4"><i class="fa-brands fa-facebook-f" style="color: #26272b;"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-dark fs-4"><i class="bi bi-twitter-x" style="color: #26272b;"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-dark fs-4"><i class="fa-brands fa-instagram" style="color: #26272b;;"></i></a></li>
        </ul>
      </div>
    </div>

 <div class="footer-shape-bottom position-relative"></div>

</footer>



