<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="col-md-4 mb-3">
        <h5>Nuestros Links</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-decoration-none text-black">Home</a></li>
          <li><a href="#" class="text-decoration-none text-black">Sitios</a></li>
          <li><a href="#" class="text-decoration-none text-black">Eventos</a></li>
           <li><a href="#" class="text-decoration-none text-black">Nuestra web</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-3">
        <h5>Entidades colaboradoras</h5>
        <ul class="list-inline social-icons">
          <!--<li class="list-inline-item"><a href="#" class="text-black"><i class="bi bi-facebook"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-black"><i class="bi bi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#" class="text-black"><i class="bi bi-instagram"></i></a></li>-->
        </ul>
      </div>
    </div>
    <hr class="mb-4">
    <div class="row">
      <div class="col-md-12 text-center">
        <p>&copy; 2025 Turistecz. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>