<div class="row"> 
  <a [routerLink]="['/sitios', data.id]" class="text-decoration-none text-reset">
    <div class="card text-white col-12 col-md-3 overflow-hidden w-100 position-relative card-place">
      <img [src]="data.url" class="card-img h-100 object-fit-cover" [alt]="data.nombre">

      <button class="btn btn-light favorito-btn position-absolute rounded-circle d-flex align-items-center justify-content-center z-2" 
        (click)="toggleFavorito(data); $event.preventDefault(); $event.stopPropagation();"> 
        <i class="bi" [ngClass]="data.esFavorito ? 'bi-star-fill text-warning' : 'bi-star text-secondary'"></i>
      </button>

      <div class="card-img-overlay overlay-content text-dark d-flex flex-column justify-content-center align-items-center">
        <p class="card-title text-center h1 fw-bold mb-0">{{data.nombre}}</p>
        <!-- Iconos de accesibilidad -->
        <app-accesibility-icons [data]="data"></app-accesibility-icons>
      </div>    
    </div>
  </a>
</div>
