@import '@fontsource-variable/baloo-bhaijaan-2';

#cardPlace {
  border-radius: 25px;
  min-height: 300px;
  aspect-ratio: 3 / 4;
}

.overlay-content {
  background-color: rgba(255, 255, 255, 0.7); /* blanco medio opaco */
  opacity: 0;
  transition: opacity 0.4s ease;
}

#cardPlace:hover .overlay-content {
  cursor: pointer;
  opacity: 3;
}

.card-title{
  font-family: "Baloo Bhaijaan 2 variable", system-ui;
  color:#112f64;
  margin-bottom: 0;
}

.favorito-btn {
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (min-width: 1024px) and (max-width: 1366px ) {
  .card-title{
    font-size: 1.3rem;
    }

  #cardPlace .overlay-content {
    padding-block: 1.5rem;
    height:max-content;
    opacity: 1;
    top:auto
    }
  }

@media (max-width: 992px) {
  #cardPlace .overlay-content {
    padding-block: 1.5rem;
    height:max-content;
    opacity: 1;
    top:auto
  }
  #cardPlace {
    border-radius: 30px;
    max-height: 430px;
  }
}
