@import '@fontsource-variable/baloo-bhaijaan-2';

#tituloSitiosHome{
    color: #184591;
    font-family: "Baloo Bhaijaan 2 Variable", system-ui;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#cardPlace {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    max-height: 100%;
    min-height: 400px;
    min-width: 300px;
    aspect-ratio: 8 / 12; 
    
}

.card-img {
    height: 100%;
    object-fit: cover;
}    


.overlay-content {
    background-color: rgba(255, 255, 255, 0.7); /* blanco medio opaco */
    color: black; /* texto oscuro para que contraste con el fondo blanco */
    opacity: 0;
    transition: opacity 0.4s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cardPlace:hover .overlay-content {
    cursor: pointer;
    opacity: 3;
}
.card-title{
    text-align: center;
    font-size: 200%;
    font-family: "Baloo Bhaijaan 2 variable", system-ui;
    color:#112f64
}
#containerCard{
    display: grid;
    margin-bottom: 7%;
    padding: 1rem;
    
}

@media (max-width: 768px) {
  #cardPlace .overlay-content {
    opacity: 1;
  }
  #cardPlace {
    width: 80%;
    min-height: 300px;
    margin: 1.5rem auto;
    aspect-ratio: 3 / 4;
  }

  /* Ajustar tamaño del título */
  .card-title {
    font-size: 220%;
  }

  /* Hacer que el contenedor acomode las cards verticalmente y centradas */
  #containerCard {
    display: grid;
    grid-template-columns: 1fr; /* 1 sola columna en móvil */
    gap: 3rem;
    padding: 1rem;
    place-items: center; /* centra las cards horizontalmente */
  }

  }
