.linea {
    width: 2rem;
    height: 100%;
    /* background-color: #184591;  */
    background-image: linear-gradient(#2A8BEA, #42D5A5); 
    position: absolute;
    /* margin-left: 25rem; */
} 

.todo {
    position: relative;
}

