
<!-- PORTADA -->
  <div class="imagen-bg-routes"> 
    <div class="cardRoutes container-routes">
      <div class="cardito">
        <app-front-detail-card [oneRoute]="oneRoute"> </app-front-detail-card>
      </div>
    </div>
  </div>

<!-- TEXTO E IMAGENES -->

<div class="container todo">
  <div class="linea offset-3"></div>
  <div class="">
    <div class="">
      <div *ngFor="let text of routeText">
        <app-text-detail [oneText]="text"></app-text-detail>
      </div>
    </div>
  </div>
</div>
<div class="mb-5"></div>



