
<!-- PORTADA -->
  <div class="imagen-bg-routes"> 
    <div class="cardRoutes container-routes">
      <div class="cardito">
        <app-front-detail-card [oneRoute]="oneRoute"> </app-front-detail-card>
      </div>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row"> -->
      <!-- IMAGEN -->
      <!-- <div *ngFor="let site of routesSite" class="col-6" >
        <app-site-text-detail [oneSite]="site" class=""></app-site-text-detail> 
      </div> -->

      <!-- TEXTO -->
      <!-- <div *ngFor="let text of routeText" class="col-6">
        <app-text-detail [oneText]="text" class=""></app-text-detail>
      </div>
    </div>
  </div> -->
  <div class="">
    <div class="">
      <!-- IMAGEN -->
      <!-- <div class="col-6">
        <div *ngFor="let site of routesSite">
          <app-site-text-detail [oneSite]="site"></app-site-text-detail>
        </div>
      </div> -->
      <!-- TEXTO -->
      <div class="">
        <div *ngFor="let text of routeText">
          <app-text-detail [oneText]="text"></app-text-detail>
        </div>
      </div>
    </div>
  </div>
  



