@import '@fontsource-variable/baloo-bhaijaan-2'; /* IMPORTANTE! PARA UTILIZAR UN FONT DIFERENTE, IMPORTAR */

.container{
    width: 100%;
    display: flex;
}

img{
    max-width: 100%;
    
    
}

.card-title {
    color: #2A8BEA;
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
    font-weight:700;
    font-size: 3rem;
    text-align: center;
    padding-top: 1rem;
}

/* faldon con opacidad para texto */
.card-bg-overlay {
    background-color: rgba(241, 228, 228, 0.75); 
    position: relative;
    top: 0;
    right: 0;
    bottom: 32rem;
    left: 0;
    padding: 1.5rem;
}

