<p>routes-card works!</p>

<div class="card col-3">
  <div class="card-body">
    <h3 class="card-title text-center">Familiar</h3>
  </div>
  <img class="card-img-bottom" src="https://images.pexels.com/photos/11091818/pexels-photo-11091818.jpeg" alt="imagen de familia"> 
</div>

<!-- <div class="container col-3">
  <div class="">
      <h3 class="card-title text-center">Familiar</h3>
     <img class="card-img-bottom" src="https://images.pexels.com/photos/11091818/pexels-photo-11091818.jpeg" alt="imagen de familia"> 
    
    
  </div>
</div> -->

