a{
    text-decoration: none;
}

.container-routes:hover{
    transform:scale(1.05);
    transition: transform 0.3s ease-in-out;
}

.route-title{
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
}

.card-body-r{
    background-color: #184591;;
}

img{
    object-fit: cover;
}

.card-title {
    color: #184591;
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
}

.card-subtitle{
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
}

