<a [routerLink]="['/detalle-ruta', routesName.id]">
    <div class="" href="">
      <div class="container container-routes">
        <div class="card border-0 m-auto">
            <div class="sobreponer">
                <img src="{{routesName.imagen_destacada}}" class="card-img-top w-100 rounded-top-5" alt="...">
                <div class="route-title fixed-bottom p-2 text-center justify-content-center">
                    <h1 class="card-title fw-bold display-6 mb-0 mt-1">{{routesName.nombre}}</h1>
                </div>
            </div>
            <div class="card-body card-body-r rounded-bottom-5">
                <p class="card-text card-subtitle text-white text-center fs-4 px-2 py-3 px-lg-3 py-lg-2">{{routesName.subtitulo}}</p>
            </div>
          </div> 
        </div>
    </div>
  </a>
