<div class="container-fluid ">  
  <div class="row">
    <nav aria-label="breadcrumb" class="my-3 ps-5 ">
        <ol class="breadcrumb mb-0 rounded">
        <li class="breadcrumb-item">
          <a routerLink="/"> Home</a>
        </li>
        <li *ngFor="let bc of breadcrumbs; let esUltimo = last" class="breadcrumb-item" [class.active]="esUltimo" [attr.aria-current]="esUltimo ? 'page' : null">
          <ng-container *ngIf="!esUltimo"> <a [routerLink]="bc.url">{{ bc.label }}</a></ng-container>
          <ng-container *ngIf="esUltimo"><span class="current">{{ bc.label }}</span></ng-container>
        </li>
        </ol>
     </nav> 
  </div>
</div>

