<div class="container container-events">
  <div class="row">
    <div class="col-12 ">
      <h2 class="fw-bold mb-3 text-center display-3">Eventos</h2>
    </div>
  </div>

  <!-- FILTROS + EVENTOS -->
  <div class="row row gx-5">
    <!-- FILTROS -->
    <div class="col-12 col-lg-3 mb-4 mb-lg-0">
      <app-filter [events]="events" [categories]="categoriesEvents" (filteredEvents)="updateEvents($event)">
      </app-filter>
    </div>

    <!-- LISTA DE EVENTOS -->
    <div class="col-12 col-lg-9">
      <div class="row gx-2 gy-2 gx-md-4 gy-md-4">
        <div class="col-small col-6 col-sm-6 col-xl-4"
            *ngFor="let event of pagedEvents; let i = index">
          <app-event-card [data]="event" [bg]="i % 2 === 0"></app-event-card>
        </div>
      </div>

      <!-- PAGINACIÓN -->
      <div class="row">
        <div class="col-12 d-flex justify-content-center mt-4">
          <app-pagination
            [page]="page"
            [pageSize]="pageSize"
            [totalItems]="sortedEvents.length"
            (pageChange)="onPageChange($event)">
          </app-pagination>
        </div>
      </div>
    </div>
  </div>
</div>