@import '@fontsource-variable/baloo-bhaijaan-2';

.breadcrumb-events{
  font-family: 'inclusive', sans-serif;
}

h2{
  color: #184591; 
  font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
  font-size: 4rem;
} 

.event-card-list {
 margin-bottom: 2rem;
}

#textShowEvents{
  font-family: "inclusive", system-ui;
}

.main-card {
  margin-inline: 4rem;
}

@media (max-width: 1224px) {
  .main-card {
    margin-inline: 2.5%;
  }
}

@media (max-width: 768px) {
  .filters {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .main-card {
    margin-inline: 0 !important;
  }
}

@media (max-width: 430px) {
  .main-card {
    margin-inline: 5%;
  }
}

/* RESPONSIVE: para pantallas pequeñas */
@media (max-width: 768px) {
  .buscador-top {
    flex-direction: column;
    align-items: stretch;
  }

  .buscador-ordenar,
  .buscador-categorias {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    font-family: "inclusive", system-ui;
  }


  .row-style{
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}