.ticket-vertical {
    width: 100%;
    position: relative;
    font-family: 'inclusive', sans-serif; 
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.ticket-vertical:hover {
    cursor: pointer;
    transform: scale(1.035);
    transition: transform 0.4s ease-in-out;
}

.bg-color1{
  background-color: #2a8dfb;
}

.bg-color2{
  background-color: #184591;
}

a {
    text-decoration: none;
    color: inherit; 
}

.inside-text {
    height: 28rem;   /* height ticket text */
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.inside-text h2{
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
    font-weight: bold;
    font-size: 1.5rem;
    color: #ffffff;

    @media (max-width: 430px){
        font-size: 1.65rem; 
    } 
}

.inside-text p{
    font-size: 1.1rem;
    color: #ffffff;
    font-family: "inclusive", sans-serif;

    @media (max-width: 430px){  
        font-size: 1.25rem;
    } 
}

.ticket-vertical::before,
.ticket-vertical::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%; /*ajustar la altura del espacio de los troqueles*/
    left: 0%; /*ajustar el comiezo de los troqueles*/
    background-repeat: repeat-x;
    background-size: 25% 80%; /* espaciado y altura region visible*/
    background-position: center;
    background-image: radial-gradient(circle at center, white 40%, transparent 45%); 
} 

.ticket-vertical::before{
    top: 0;
    transform: translateY(-50%);  
}

.ticket-vertical::after {
    bottom: 0;
    transform: translateY(50%);
}  
   

