.ticket-vertical {
    font-family: 'inclusive', sans-serif; 
}

.ticket-vertical:hover {
    cursor: pointer;
    transform: scale(1.035);
    transition: transform 0.4s ease-in-out;
}

.bg-color1{
  background-color:var(--color-secondary);
}

.bg-color2{
  background-color:var(--color-primary);
}
 
.inside-text {
    height: 28rem; 
}

.inside-text h2{
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;

}

.inside-text p{
    font-family: "inclusive", sans-serif;
}

.ticket-vertical::before,
.ticket-vertical::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20%; /*ajustar la altura del espacio de los troqueles*/
    left: 0%; /*ajustar el comiezo de los troqueles*/
    background-repeat: repeat-x;
    background-size: 25% 80%; /* espaciado y altura region visible*/
    background-position: center;
    background-image: radial-gradient(circle at center, white 40%, transparent 45%); 
} 

.ticket-vertical::before{
    top: 0;
    transform: translateY(-50%);  
}

.ticket-vertical::after {
    bottom: 0;
    transform: translateY(50%);
}  
   
h2 {
    display: -webkit-box;
    font-size: 28px !important;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}