<div class="position-relative mb-2">
    <div id="map" class="w-100 m-0 z-0 rounded-2"></div>
    <div id="listContainer" class="overflow-auto row-gap-1 mt-3 me-lg-3 me-md-0 p-2 bg-body-secondary rounded-3 z-1 end-0">  
        <div class="mb-0 bg-white px-2 rounded-3 legInfo">
                <p class="fs-5 mb-1 pt-1" id="legName">{{this.route.routes[0].legs[0].summary}}</p>
                <p class="pb-2 mb-1" id="distanceTime">{{kms}}, {{mins}}</p>
                <button type="button" class="btn btn-outline-dark bg-white mt-0 mb-3 mx-0 px-2 text-start text-dark w-100" data-bs-toggle="collapse" data-bs-target="#instructionsDiv" (click)="toggleInstructions()">
                    <p class="mb-0 text-center">{{ instructionsExpanded ? 'Ocultar direcciones' : 'Mostrar direcciones' }}</p>    
                </button>
        </div>
        <div class="mt-2 collapse" id="instructionsDiv">
            <table class="table ps-0 bg-white rounded-3" id="instructionsList"></table>
        </div>
    </div>
</div>

<div class="container card mt-2 mb-4 pt-3 pb-1">
    <div class="row fw-medium">
        <p class="fs-5 mb-1 ms-2">
            LEYENDA
        </p>
    </div>
    <div class="row ps-2 ps-xl-0">
        <ul class="list-group list-group-horizontal-sm pe-0 d-flex justify-content-xl-between justify-content-center flex-wrap">
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="bi bi-geo-alt-fill me-2 fs-3 text-primary"></i>
                <p class="mb-0 mt-2 mb-2">     
                    Estás aquí
                </p>
            </li>
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="fa-solid fa-bicycle me-2 fs-3"></i>
                <p class="mb-0 mt-2 mb-2">
                    Estación bizi
                </p>
                <input class="icon ms-2 mt-1 form-check-input border border-secondary mb-1" #biziIconId type="checkbox" (change)="showHideMarkers($event, this.bizisMarkerGroup)">
            </li>
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="bi bi-bus-front-fill me-2 fs-3"></i>
                <p class="mb-0 mt-2 mb-2">
                    Buses
                </p>
                <input class="icon ms-2 mt-1 form-check-input border border-secondary mb-1" id="busIconId" type="checkbox" (change)="showHideMarkers($event, this.busMarkerGroup)">
            </li>
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="bi bi-taxi-front-fill me-2 fs-3"></i>
                <p class="mb-0 mt-2 mb-2">
                    Taxis
                </p>
                <input class="icon ms-2 mt-1 form-check-input border border-secondary mb-1" id="taxiIconId" type="checkbox" (change)="showHideMarkers($event, this.taxiMarkerGroup)">
            </li>
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="bi bi-train-front-fill me-2 fs-3"></i>
                <p class="mb-0 mt-2 mb-2">
                    Tranvias
                </p>
                <input class="icon ms-2 mt-1 form-check-input border border-secondary mb-1" id="tramIconId" type="checkbox" (change)="showHideMarkers($event, this.tramMarkerGroup)">
            </li>
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="fa-solid fa-wheelchair me-2 fs-3"></i>
                <p class="mb-0 mt-2 mb-2">
                    Parking adaptado
                </p>
                <input class="icon ms-2 mt-1 form-check-input border border-secondary mb-1" id="adapParkingId" type="checkbox" (change)="showHideMarkers($event, this.adapParkingMarkerGroup)">
            </li>
            <li class="list-group-item border-0 d-flex align-items-center">
                <i class="fa-solid fa-square-plus me-2 fs-3 text-success"></i>
                <p class="mb-0 mt-2 mb-2">
                    Farmacias de guardia
                </p>
                <input class="icon ms-2 mt-1 form-check-input border border-secondary me-0 me-md-1 mb-1" id="farmaciaId" type="checkbox" (change)="showHideMarkers($event, this.farmaciaMarkerGroup)">
            </li>
        </ul>
    </div>
</div>




