<div class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link active" data-bs-toggle="pill" data-bs-target="#v-pills-home">Mis Sitios</button>
    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-routes">Mis Rutas</button>
    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-events">Mis Eventos</button>
    <button class="nav-link" data-bs-toggle="pill" data-bs-target="#v-pills-chatbot">Chatbot</button>
  </div>

  <div class="tab-content flex-fill">
    <!-- Mis Sitios -->
    <div class="tab-pane fade show active" id="v-pills-home">
      <div class="container">
        <div class="row">
          <div *ngFor="let favorito of favoritos" class="col-12 col-md-3 mb-4">
            <app-one-place-card [data]="favorito"></app-one-place-card>
          </div>
        </div>
      </div>
    </div>

    <!-- Mis Rutas -->
    <div class="tab-pane fade" id="v-pills-routes"><p>Aquí irán las rutas...</p></div>

    <!-- Mis Eventos -->
    <div class="tab-pane fade" id="v-pills-events"><p>Aquí irán los eventos...</p></div>

    <!-- Chatbot -->
    <div class="tab-pane fade" id="v-pills-chatbot">
      <div id="landbot-container" style="height:600px;"></div>
    </div>
  </div>
</div>
