@import '@fontsource-variable/baloo-bhaijaan-2';

.menu{
  background-color: color(var(--bg-secondary));
  margin-left: 10px;
  border-radius: 10px;
  font-family: "Baloo Bhaijaan 2 Variable", system-ui;
  
}



@media (max-width: 932px) {
  .menu{
    margin-left: 30px;
    
}
}

@media (max-width: 768px) {
  .LandbotLivechat {
    bottom: 10px;
    right: 10px;
    width: 90%;       /* ocupa casi todo el ancho */
    max-width: none;  /* elimina límite de ancho */
  }
}
