h2{
   color: #184591;
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
    font-weight:700;
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.event-card-list {
    width: 25%;

     @media (max-width: 767px) 
    {
        width: 80%;
        justify-self: center;
        margin-bottom: 1rem;
    }
} 

.main-card{
   justify-content: center; 
   position: relative;
   margin-top: 1rem;
   margin-bottom: 2rem;
   @media (max-width: 767px) {
        display: block;
        justify-content: center;
        margin-bottom: 10%;
    }
}

.btn-routes {   
    background: linear-gradient( #184591, #2A8BEA);
    font-family: "inclusive", system-ui;
    font-weight: 500;   
}  

.btn-routes:hover {
  transform: scale(1.05);
  @media (max-width: 767px){
    transform: scale(1);
  }
}
