
<div class="main-card container mb-5">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center py-3">Eventos</h2>
    </div>
  </div>

  <!-- Div para que en móvil no sea carrusel solo muestre 3 tarjetas-->
   <div class="row row-cols-1 g-3 d-sm-none ">
    <div class="col px-5" *ngFor="let event of sortedEvents.slice(0,3); let k = index">
      <app-event-card [data]="event" [bg]="k % 2 === 0"></app-event-card>
    </div>
  </div>

      <!--El carrusel en pantallas grandes y medianas-->
  <div id="eventsCarousel" class="carousel slide carousel-dark d-none d-sm-block" data-bs-ride="true">
    <div class="carousel-inner">
      <div class="carousel-item  active" data-bs-interval="5000"  *ngFor="let events of eventGroups; let i = index" [class.active]="i === 0" >
        <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 g-3 justify-content-center px-5">
          <div class="col justify-content-center " *ngFor="let event of events; let j = index">
            <app-event-card [data]="event" [bg]="((i * 3) + j) % 2 === 0"></app-event-card>
          </div>
        </div>
      </div>
    </div>
      <button class="carousel-control-prev " type="button" data-bs-target="#eventsCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#eventsCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon "></span>
      </button>
    </div>
    
    <div class="text-center my-5">
      <a href="/rutas">
        <button type="button" class="btn-routes btn btn-primary fs-5">Ver más</button>
      </a>
    </div> 
</div>

