h2{
    color: #184591;
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
    font-weight:700;
    font-size: 4rem;
}

.btn-routes {   
    background: linear-gradient( #184591, #2A8BEA);
    font-family: "inclusive", system-ui;
}  

.btn-routes:hover {
  transform: scale(1.05);
  @media (max-width: 767px){
    transform: scale(1);
  }

}