<form #registerForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="nombre">Nombre</label>
      <input type="text" class="form-control" name="nombre" ngModel required>
    </div>
    <div class="form-group col-md-6">
      <label for="apellido">Apellido</label>
      <input type="text" class="form-control" name="apellido" ngModel required>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" ngModel required email>
    </div>

    <div class="form-group col-md-6">
      <label for="password">Contraseña</label>
      <input type="password" class="form-control" name="password" [(ngModel)]="password" required>
    </div>
  </div>

  <div class="form-group col-md-6">
    <label for="confirmPassword">Confirmar contraseña</label>
    <input
      type="password"
      class="form-control"
      name="confirmPassword"
      [(ngModel)]="confirmPassword"
      required
      [class.is-invalid]="password !== confirmPassword && confirmPassword"
    >
    <div class="invalid-feedback">
      Las contraseñas no coinciden.
    </div>
  </div>

  <br>
  
  <button type="submit" class="btn btn-primary mb-2">Enviar</button>
</form>
    <div> 
      <p> Aqui va un enlace al registro</p>
    </div>