.imagen-bg-routes{
    background-image: url('/routesImage/bg-imagen.png');
    background-size:cover;

}

.sign-form{
    max-width: 600px; 
    width: 100%;
    font-family: "Baloo Bhaijaan 2 Variable", system-ui;
}

