<div class="imagen-bg-routes">
  <app-breadcrumbs></app-breadcrumbs>
  <div class="d-flex justify-content-center py-5">
    <div class="card login shadow mx-4">
      <div class="card-body px-4">
        <p class="card-title text-center h3 m-0 py-2">Iniciar Sesión</p>
        <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" novalidate>
          <div class="form-group mt-2">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              name="email"
              [(ngModel)]="email"
              required
              #emailField="ngModel"
              [class.is-invalid]="(loginForm.submitted && !isValidEmail(email)) || (emailField.touched && !isValidEmail(email))"
            >
            <div *ngIf="(loginForm.submitted || emailField.touched) && !isValidEmail(email)" class="text-danger">
              <div *ngIf="!email">El email es requerido.</div>
              <div *ngIf="email && !isValidEmail(email)">El formato del email no es válido.</div>
            </div>
          </div>

          <div class="form-group mt-3">
            <label for="contrasena">Contraseña</label>
            <input
              type="password"
              class="form-control"
              name="contrasena"
              [(ngModel)]="contrasena"
              required
              #passwordField="ngModel"
              [class.is-invalid]="(passwordField.invalid && passwordField.touched) || (loginForm.submitted && passwordField.invalid)"
            >
            <div *ngIf="(passwordField.invalid && passwordField.touched) || (loginForm.submitted && passwordField.invalid)" class="text-danger">
              <div *ngIf="passwordField.errors?.['required']">La contraseña es requerida.</div>
            </div>
          </div>

          <div class="mt-4">
            <button type="submit" class="btn text-white btn-personalizado w-100">Iniciar sesión</button>
          </div>

          <div class="text-center mt-3">
            <p class="mb-1">¿No tienes cuenta? 
              <a href="#" (click)="irARegistro($event)">Regístrate</a>
            </p>
            <p class="mb-0">
              <a href="#" (click)="irARecuperar($event)">¿Olvidaste tu contraseña?</a>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

