<div class="container pt-4 px-3">
    <div class="card border-0 m-auto rounded-circle">
        <div class="position-relative">
            <img src="{{oneRoute.imagen_destacada}}" class="card-img-top w-100 rounded-top-5" alt="...">
            <div class="route-title position-absolute w-100 p-4 text-center justify-content-center">
                <h1 class="card-title fw-bold display-3 my-0">{{oneRoute.nombre}}</h1>
            </div>
        </div>
    <div class="card-body card-body-r rounded-bottom-5">
        <p class="card-subtitle fs-4 text-white px-4 py-3 px-lg-5 py-lg-3">{{oneRoute.descripcion}}</p>
    </div>
    </div> 
</div>
