.route-title{
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7); 
}

.card-body-r{
    background-color: var(--color-primary);
}

img{
    object-fit: cover;
}

.card-title {
    color: var(--color-primary);
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
}

.card-subtitle{
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
}