@import '@fontsource-variable/baloo-bhaijaan-2';

#buscador{
    background-color: rgb(69, 90, 173);
    color: white;
    border-radius: 1.5rem;
    
    
    
}

.titleFilter{
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;

}