@import '@fontsource-variable/baloo-bhaijaan-2';

#buscador {
  background-color: rgb(69, 90, 173);
  border-radius: 1.5rem;
}

.filtro-lista > .adaptability-group:last-child{
    margin-bottom: 0 !important;
}

.filtro-lista > .adaptability-group:last-child > .form-check:last-child{
    margin-bottom: 0 !important;
}