
  <button class="filter-toggle-btn show-button d-lg-none ms-auto mb-2" [class.expanded]="filtersExpanded" (click)="toggleFilters()">
    <i class="bi" [ngClass]="filtersExpanded ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    {{ filtersExpanded ? 'Ocultar filtros' : 'Mostrar filtros' }}
  </button>
<div class="row mx-2 mx-md-0" >
<div id="buscador" class="text-white rounded-4" [class.expanded]="filtersExpanded">
  <!-- Contenedor colapsable de filtros -->
  <div class="filters-collapsible spacing-filter " [class.expanded]="filtersExpanded">

    <!-- Buscador -->
    <div class="d-flex align-items-center">
      <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText" (keypress)="onlyLetters($event)" (keyup.enter)="onSearch()"/>
      <button class="btn btn-outline-light mx-2 my-1" (click)="onSearch()"><i class="bi bi-search"></i></button>
      <button class="btn btn-outline-light" (click)="resetFilters()"><i class="bi bi-arrow-counterclockwise"></i></button>
    </div>

    <!-- Mensaje de error cuando se introducen carácteres inválidos -->
    <p class="text-white fw-bold mt-1" *ngIf="showError"> El buscador solo permite letras </p>

    <!-- Ordenar -->
    <div class="mt-3" *ngIf="showOrder">
      <h5 for="filterOption" class="titles"> Ordenar:</h5>
      <select id="filterOption" class="form-select" [(ngModel)]="filterOption" (change)="applyEventFilters(); applyPlaceFilters()">
        <option value="future">Cronológicamente</option>
        <option value="alpha">(A-Z)</option>
        <option value="month">Solo mes actual</option>
      </select>
    </div>

    <!-- Filtros de categorías -->
      <h5 class="mt-4 titles">Categorías</h5>
      <div class="form-check mb-1" *ngFor="let cat of categories">
        <input
          class="form-check-input"
          type="checkbox"
          [checked]="selectedEventsCategoriesMap[cat.type] || selectedPlacesCategoriesMap[cat.type]"
          (change)="toggleCategory(cat.type)"
          id="check-{{ cat.type }}"
        />
        <label class="form-check-label option-sizes" [for]="'check-' + cat.type">
          {{ cat.name }}
        </label>
      </div>


      <!-- Filtros de accesibilidad -->
      <ng-container *ngIf="showAdaptability">
        <div *ngFor="let group of groups" class="adaptability-group my-4">
          <h5 class="mt-4 titles">{{ group | titlecase }}</h5>
          <div class="form-check mb-1" *ngFor="let option of getOptionsByGroup(group)">
            <input
              class="form-check-input"
              type="checkbox"
              [checked]="selectedAccesibilityCategoriesMap[option.key]"
              (change)="toggleAccessibility(option.key)"
              id="acc-{{ option.key }}"
            />
            <label class="form-check-label option-sizes" [for]="'acc-' + option.key">
              {{ option.label }}
            </label>
          </div>
        </div>

        
      </ng-container>

      <div class="align-content-center d-flex justify-content-center justify-content-lg-around my-2" *ngIf="logueado && parentSitios">
          <button class="btn  fw-bold botonGuardar" (click)="saveFilters()">Guardar</button>
      </div>
    </div>
    
</div>
  </div>