@import '@fontsource-variable/baloo-bhaijaan-2';


h2{
   color: var(--color-primary);
    font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
}
 
.btn-routes:hover {
  transform: scale(1.05);
}

@media (max-width: 1199px) {
  h2 {
    font-size: 3.2rem;
  }
}