@import '@fontsource-variable/baloo-bhaijaan-2';

#tituloSitiosHome{
    color: #184591;
    font-family: "Baloo Bhaijaan 2 Variable", system-ui;
    text-align: center;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1.5rem;
  height: fit-content;
}



.card-img {
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  background-color: rgba(255, 255, 255, 0.7); /* blanco medio opaco */
  color: black; /* texto oscuro para que contraste con el fondo blanco */
  opacity: 0;
  transition: opacity 0.4s ease;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  justify-content: center;
}

.card-title{
  text-align: center;
  font-size: 200%;
  font-family: "Baloo Bhaijaan 2 variable", system-ui;
  color:#112f64
}

.grid-item {
  width: 100%;
  object-fit: cover;
}

@media (max-width: 1199px) {
  #tituloSitiosHome {
    font-size: 3.2rem;
  }
  .containerCard {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
  .little-circle{
    font-size: 2rem;
    color: #1a1c6b;
}
  .messageError{
    font-size: 1.2rem; 
    color: #495057;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .containerCard {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.2rem;
  }
}

@media (max-width: 767px) {
  
}