@import '@fontsource-variable/baloo-bhaijaan-2';

#tituloSitiosHome {
  color: #184591;
  font-family: "Baloo Bhaijaan 2 Variable", system-ui;
  font-weight: 700;
  font-size: 4rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

#cardPlace {
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: auto;
  aspect-ratio: 7 / 12; /* mantiene proporción uniforme */
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  background-color: rgba(255, 255, 255, 0.7); /* blanco medio opaco */
  color: black;
  opacity: 0;
  transition: opacity 0.4s ease;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cardPlace:hover .overlay-content {
  cursor: pointer;
  opacity: 1;
}

.card-title {
  text-align: center;
  font-size: 200%;
  font-family: "Baloo Bhaijaan 2 Variable", system-ui;
  color: #112f64;
}

.containerCard {
  row-gap: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* responsive layout */
  gap: 20px;
  padding: 1rem;
}

/* ✅ MEDIA QUERIES BIEN FORMADAS */


