@import '@fontsource-variable/baloo-bhaijaan-2';

#tituloSitiosHome{
    color: #184591;
    font-family: "Baloo Bhaijaan 2 Variable", system-ui;
    font-weight: 700;
    font-size: 4rem;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.containerCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* responsive layout */
  grid-auto-rows: min-content;
  gap: 2rem;
  margin-left: 4rem;
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.overlay-content {
    background-color: rgba(255, 255, 255, 0.7); /* blanco medio opaco */
    color: black; /* texto oscuro para que contraste con el fondo blanco */
    opacity: 0;
    transition: opacity 0.4s ease;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    object-fit: cover;
    justify-content: center;
}

.card-title{
    text-align: center;
    font-size: 200%;
    font-family: "Baloo Bhaijaan 2 variable", system-ui;
    color:#112f64
}


.grid-item {
  width: 100%;
  object-fit: cover;
}

.row{
  row-gap: 2rem;
}

@media (max-width: 767px) {
  #tituloSitiosHome {
    font-size: 2.5rem;
  }
}

.little-circle{
font-size: 2rem;
color: #1a1c6b;
}

.messageError{
  font-size: 1.2rem; 
  color: #495057;
}