<h2 id="tituloSitiosHome">Sitios</h2>
<div class="mx-2 mt-2">
  <div class="row">
    <div class="col-3">
      <app-filter [places]="cards" [categories]="categoriesSites" [categoryKeywords]="categorySitesKeywords" (filteredCards)="updatePlaces($event)"></app-filter>
    </div>
    
      <div class="containerCard col-7 mb-5" *ngIf="sortedCards.length > 0; else noResults">
        <div *ngFor="let cardHome of sortedCards" class="col- col-md-3">
          <app-one-place-card [data]="cardHome"></app-one-place-card>
        </div>
      </div>

     

        <ng-template #noResults>
          <p class="text-center mt-4">No se encontraron resultados con los filtros seleccionados.</p>
        </ng-template>
    </div> 
</div>