

#cardPlace {
    width: 480px;
    height: 650px;
    margin-left: 200px;
    border-radius: 25px;
    overflow: hidden;
    position: relative;
}

.card-img {
    height: 100%;
    object-fit: cover;
}

.overlay-content {
    background-color: rgba(255, 255, 255, 0.7); /* blanco medio opaco */
    color: black; /* texto oscuro para que contraste con el fondo blanco */
    opacity: 0;
    transition: opacity 0.4s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#cardPlace:hover .overlay-content {
    opacity: 1;
}
.card-title{
text-align: center;
font-size: 100px;
}