

<h2 id="tituloSitiosHome">Sitios que visitar</h2>
<div class="container">
  <div class="row containerCard image-grid" >
    <div *ngFor="let cardHome of cards.slice(0, 4)" class="col-12 col-md-3">

      <app-one-place-card [data]="cardHome"></app-one-place-card>
      
     <!-- <a 
        [routerLink]="['/sitios', cardHome.id]" 
        class="text-decoration-none text-reset"
      >
        <div class="card text-white" id="cardPlace">
          <img [src]="cardHome.url" class="card-img" [alt]="cardHome.nombre">
          <div class="card-img-overlay overlay-content">
            <h5 class="card-title">{{cardHome.nombre}}</h5>
          </div>
        </div>
      </a>
-->
  </div>
</div>

