@import '@fontsource-variable/inclusive-sans';

*{
  font-family: "Inclusive Sans Variable";
}

h3{
  font-family:"Baloo Bhaijaan 2 Variable", system-ui;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

h3{
  font-size: 2rem;
}

.bg-titulo{
  background: linear-gradient(90deg, #0e3d89, #1e6bf5);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  min-height: 12rem;
}

.btn-editar{
  background-color: var(--color-secondary);
}

.btn-eliminar{
  background-color: rgb(199, 29, 54);
}

.example-list {
  overflow: hidden;
}

.example-box {
  cursor: move;
}

.cdk-drag-preview {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

input[type="checkbox"] {
  border: 1px solid #32363d49;
}