
<!-- <div class="imagen-bg-routes">  -->
  <div class="container cardRoutes mt-5">
    <h3 class="mb-3">Rutas</h3>
    <div class="row justify-content-center">  
      <div class="cardito col-12 col-md-4" *ngFor="let route of routesName">
      <app-routes-card [routesName]="route"> </app-routes-card>
      </div>
    </div>
   <div class="text-center">
    <a href="/rutas">
    <button type="button" class="btn-routes btn btn-personalizado mt-4 fs-5">Ver más</button>
    </a>
   </div> 
  </div>
<!-- </div>  -->







