
<div class="container my-5 ">
  <div class="row cards-grid g-4 text-center"> 
    <div class="col-12 col-md-6 col-lg-4 d-flex " *ngFor="let a of items">
     <div class="card card-blue text-light flex-fill p-3">
      <h4 class="card-title text-light mb-2 fw-bold">{{ a.title }}</h4>
        <div class="card-body fw-semibold mt-3 mt-3">
          <p *ngIf="a.streetAddress" class="mb-2"><i class="bi bi-geo-alt"></i> {{ a.streetAddress }}</p>
          <p *ngIf="a.telefonos" class="mb-2"><i class="bi bi-telephone"></i> {{ a.telefonos }}</p>
          <p *ngIf="a.email" class="mb-2"><i class="bi bi-envelope"></i> {{ a.email }}</p>
        </div>
        <div class="btn btn-none fw-semibold" (click)="abrirEnlace(a.link)" (keydown.enter)="abrirEnlace(a.link)">Visitar Web <i class="bi bi-arrow-right"></i> </div>
    </div>
   </div>
</div>
</div>







