.cards-grid > div:nth-child(6n+4) .card,
.cards-grid > div:nth-child(6n+5) .card, 
.cards-grid > div:nth-child(6n+6) .card {
  background: #184591;
}

.card-title {
  color: #dde2e8;
  font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
  font-weight: bold;
}

.card {
  background-color: #2a8dfb;
  font-family: "inclusive", sans-serif;
  border: none;
}

.btn-ver-mas {
  font-weight: bolder;
  font-family: "inclusive", sans-serif;
}

.btn-ver-mas:hover {
  text-decoration: underline;
  color: #060607;
}


@media (max-width: 767px) {
  .cards-grid > div:nth-child(even) .card {
    background-color: #184591;
  }
  .cards-grid > div:nth-child(odd) .card {
    background-color: #2a8dfb;
  }
}