.card-title {
  font-family: 'Baloo Bhaijaan 2 Variable', system-ui;
  color: var(--color-primary);
  font-size: 1.5rem;
}

p, button{
  font-family: "inclusive", sans-serif;  
  font-size: 1rem;
}

.card-title {
  display: -webkit-box;
   -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
   overflow: hidden;
}

.address {
   display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (min-width: 1200px) {
.card-title {
    font-size: 1.5rem;  
  }
  .card-Respon p,
  .card-Respon .address {
    font-size: 1rem;
  }
  .card-Respon button {
    font-size: 1rem ;
    white-space: nowrap;
  }
}
@media (max-width: 1199px) {
  .card-Respon .card-title {
    font-size: 1.6rem;
  }
  .card-Respon p,
  .card-Respon .address {
    font-size: 1.1rem;
  }

  .card-Respon button {
    font-size: 1rem ;
  }
}

@media (max-width: 991px) {
   .card-Respon {
    max-width: 500px;
  }
  .card-Respon .card-title {
    font-size: 2rem; 
  }
  .card-Respon p,
  .card-Respon .address {
    font-size: 1.3rem !important;
  }
  .card-Respon button {
    font-size: 1rem !important;
     white-space: nowrap;
  }
}
@media (max-width: 767px) {
  .card-Respon .card-title {
    font-size: 2rem ;
  }
  .card-Respon p,
  .card-Respon .address {
    font-size: 1.2rem !important;
  }
  .card-Respon button {
    font-size: 1.15rem !important;
  }
}
