
<div class="cards-grid">
  <section *ngFor="let a of items" >
        <article class="card card-inside p-3 shadow-sm h-100">
          <h4 class="titulo" >{{ a.title }}</h4>
           <div class="desc-box">
            <div  [innerHTML]="a.descripcion"></div>
             <p *ngIf="a.email">Email: {{ a.email }}</p>
           </div>
         <button class="ver-mas" (click)="abrirEnlace(a.link)" (keydown.enter)="abrirEnlace(a.link)"> Ver más <span class="arrow">›</span> </button>
        </article>
    </section>
</div>