<div class="migaPan ms-3 mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="http://localhost:4200/">Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Alojamientos
      </li>
    </ol>
  </nav>
</div>
<div class="container">
  <h2 class="fw-bold mt-5 text-center mb-5">Hoteles</h2>

  <!-- cuando termine la carga (!cargando). le pasa el array 'accommodations' -->
   <app-accommodation-list *ngIf="!cargando" [items]="accommodations"> </app-accommodation-list> 
</div>
