<h1 class="mb-3 text-center display-3">Calendario</h1>

<div class="container-fluid calendar-container">
  <div class="row">
    <div class="col-12 col-lg-6">
      <article class="calendar-card shadow-sm">
         <igx-calendar 
            #calendar [weekStart]="1"  
            locale="es-ES"
            selection="single" 
            (selected)="onDateSelected($event)"></igx-calendar>
      </article>
    </div>
  <div class="col-12 col-lg-6 mt-4 mt-lg-0 mb-3" *ngIf="eventsOfDay.length > 0">
    <div class="calendar-card shadow-sm events-container overflow-y-auto ">
        <div class="title-events p-4 container-fluid">
          <h4 class="calendar-title fw-bold text-center fs-2 mt-1">
            Eventos del {{ selectedDate | date:'fullDate':'':'es' }}
          </h4>
        </div>
       <div *ngFor="let ev of eventsOfDay" class="event-item text-center shadow-sm">
        <h5 class="eventTitle">{{ ev.title }}</h5>
        <div *ngFor="let sub of ev.subEvent" class="subevent-item">
          <ul *ngIf="sub.openingHours && sub.openingHours.length > 0">
            <li *ngFor="let oh of sub.openingHours"> 
              {{ oh.dayOfWeek }} a las {{ oh.startTime }} hasta las {{oh.endTime}}
            </li>
          </ul>
        </div>
      </div>
    </div>
 </div>
    <div class="col-12 col-lg-6 mt-4 mt-lg-0" *ngIf="selectedDate && eventsOfDay.length === 0">
      <div class="calendar-card shadow-sm text-center">
        <h5>No hay eventos para {{ selectedDate | date:'fullDate' }}</h5>
      </div>
    </div>
  </div>
</div>
