
<section class="shapeHome position-relative">
  <div class="container-fluid p-0">
    <div class="row g-0 ">
      <div class="col-12">
        <img src="HomePilar.jpg" alt="Portada Zaragoza" class="img-fluid w-100 portada-img">
      </div>
      <div class="text-box col-12 position-absolute text-white">
        <h2 id="titleHome">Turismo</h2>
        <h2 id="subtitleHome" class="mb-0 mt-0">sin obstáculos</h2>
        <p id="sloganHome" class="mt-2">¡Descubre Zaragoza sin límites!</p>
      </div>
    </div>
  </div>
</section>
<app-place-card></app-place-card>
<app-routes-card-list></app-routes-card-list>
<app-event-card-home></app-event-card-home>   