

<div id="imagenHome">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-8"></div> <!-- Espacio vacío del 33% -->
      <div class="col-4" id="textHome" > <!-- 67% para el texto -->
        <h1 id="titleHome">Turismo</h1>
        <h2 id="subtitleHome">sin obstáculos</h2>
        <br>
        <h3 id="sloganHome">¡Descubre la ciudad <br> sin límites!</h3>
      </div>
    </div>
  </div>
</div>
<br><br>
<!--<div *ngFor="let card of ">
        
</div>-->
<app-place-card></app-place-card>
<app-routes-card-list></app-routes-card-list>

