

<!--<div id="imagenHome">
    <div class="container-fliud"> 
    <div class="row pt-3">
    <div class="col-8">dfhdfhjdf</div>
    <div id="textHome col-4"> 
        <h1 id="titleHome">Turismo</h1>
        <h2 id="subtitleHome">sin obstaculos</h2>
        <h3 id="sloganHome">¡Descubre la ciudad <br> sin límites!</h3>
    </div>
    </div>
    <img src="pilar_home.jpg" alt="imagen de la Basílica del Pilar de Zaragoza desde el puente de Piedra al atardecer">
    </div>
</div>
-->

<div id="imagenHome">
  <div class="container-fluid">
    <div class="row pt-3">
      <div class="col-8"></div> <!-- Espacio vacío del 33% -->
      <div class="col-4" id="textHome"> <!-- 67% para el texto -->
        <h1 id="titleHome">Turismo</h1>
        <h2 id="subtitleHome">sin obstáculos</h2>
        <br>
        <h3 id="sloganHome">¡Descubre la ciudad  <br> sin límites!</h3>
      </div>
    </div>
  </div>
</div>